name: Generate 3D Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Generate 3D Profile
        uses: yoshi389111/github-profile-3d-contrib@v0.7.1
        with:
          username: ayanmanna123

      - name: Commit & Push
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add profile-3d-contrib
          git commit -m "chore: update 3D contribution graph" || exit 0
          git push
